@font-face {
  font-family: 'handwriting';
  src: url('Senses-Regular.ttf')  format('truetype'); /* Safari, Android, iOS */
  src: url('Senses-Regular.otf')  format('opentype'); /* Safari, Android, iOS */
}

* {
  margin:0;
  padding:0;
}


h1{
  margin-top: 20pt;
  text-align: center;
  font-size: 55pt;
  color: #fff1db;
  /* font-family: cooper-black-std,serif; */
  font-family: 'handwriting', serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.04em

}


body{
  width: 100%;
  height: 100%;
  background-image: url('Bpaper2.jpg');
  text-align: center;
  font-family: neuzeit-grotesk,sans-serif;
  font-weight: 400;
  font-style: normal;
  z-index: 0;

}

.face{
  width: 100%;
  height: 100%;
  position: relative;
}

.square{
  /* margin-left: auto;
  margin-right: auto; */

  position: absolute;
  /* text-align: center; */
  /* width:800px; */
  width:48%;
  right: 25%;
  /* right:400px; */
  z-index: 1;


}

.ear{
  width:30%;
  position: absolute;
  top:-70px;
  right: 22%;
  z-index: 2;

  animation: wiggle;
  animation-duration: .5s;
  animation-iteration-count: infinite;
  transform-origin: 50% 50%;
  animation-play-state: paused;
}

.ear:hover{
  animation-play-state: running;
}

.eye{
  width:18%;
  position: absolute;
  top:10px;
  left: 35%;
  /* transform: rotate(110deg); */
  z-index: 2;

  animation: wiggle_eye;
  animation-duration: .5s;
  animation-iteration-count: infinite;
  transform-origin: 50% 50%;
  animation-play-state: paused;
}

.eye:hover{
  animation-play-state: running;
}

.lips{
  width:420px;
  position: absolute;
  top:380px;
  left: 27%;
  transform: rotate(110deg);
  z-index: 2;

  animation: wiggle_eye;
  animation-duration: .5s;
  animation-iteration-count: infinite;
  transform-origin: 50% 50%;
  animation-play-state: paused;
}

.lips:hover{
  animation-play-state: running;
}

.nose{
  width:18%;
  position: absolute;
  top:230px;
  left: 33%;
  /* transform: rotate(35deg); */
  z-index: 2;

  animation: wiggle_nose;
  animation-duration: .5s;
  animation-iteration-count: infinite;
  transform-origin: 50% 50%;
  animation-play-state: paused;
}

.nose:hover{
  animation-play-state: running;
}

.hand{
  width:33%;
  position: absolute;
  top:400px;
  right: 20%;
  transform: rotate(-30deg);
  z-index: 2;

  animation: wiggle;
  animation-duration: .5s;
  animation-iteration-count: infinite;
  transform-origin: 50% 50%;
  animation-play-state: paused;
}

.hand:hover{
  animation-play-state: running;
}


p{
  /* font-family: sofia-pro, sans-serif; */
  /* padding: 4pt; */
  padding-bottom: 10pt;
  text-align: center;
  font-size: 15pt;
  color: #fff1db;
  letter-spacing: 0.04em
}

.star{
    height:65px;


    /* animation-name: spin; */
    animation: spin 3s linear infinite;
    /* animation-iteration-count: infinite; */
    transform-origin: 50% 50%;
    display: inline-block;

    /* <--- */
}


.star2{
    height:200px;
    margin-top: 100pt;
    display: inline-block;

    animation: wiggle;
    animation-duration: .5s;
    animation-iteration-count: infinite;
    transform-origin: 50% 50%;
    animation-play-state: paused;

}

.star2:hover{
  animation-play-state: running;
}

@keyframes wiggle {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(4deg);
    }
    100% {
        transform: rotate(0deg);
    }

}

@keyframes wiggle_eye {
    0% {
        transform: rotate(110deg);
    }
    50% {
        transform: rotate(114deg);
    }
    100% {
        transform: rotate(110deg);
    }

}

@keyframes wiggle_nose {
    0% {
        transform: rotate(40deg);
    }
    50% {
        transform: rotate(44deg);
    }
    100% {
        transform: rotate(40deg);
    }

}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* #star2: hover{
  animation-play-state: running;

} */





/* .navbar{
  margin-top: 22px;


}

.nav{
  margin: auto;
  width: 100%;
  display: inline-block;
  text-align: center;
} */

li {
  display: inline;
}

iframe {
  padding: 50pt;
}

.navitem{
  color: #fff1db;
  text-align: center;
  font-family: cooper-black-std,serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20pt;
  list-style-type: none;
  margin: auto 90px;
  text-decoration: none;
}

.navitem:hover{
  color: #ebc634;
  font-style: italic;
}
