* {
  margin:0;
  padding:0;

}
@font-face {
  font-family: 'handwriting';
  src: url('Senses-Regular.ttf')  format('truetype'); /* Safari, Android, iOS */
  src: url('Senses-Regular.otf')  format('opentype'); /* Safari, Android, iOS */
}


h1{
  margin-top: 20pt;
  text-align: center;
  font-size: 55pt;
  color: #fff1db;
  /* font-family: cooper-black-std,serif; */
  font-family: 'handwriting', serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.04em

}


body{
  background-image: url('Bpaper2.jpg');
  text-align: center;
  font-family: neuzeit-grotesk,sans-serif;
  font-weight: 400;
  font-style: normal;
  z-index: 0;
}

.shapes{
  margin: auto;
  width: 50%;
}

.B1{
  position: absolute;
  width:16%;
  margin: auto 10%;
  padding-bottom: 50px;

  animation: wiggle;
  animation-duration: .5s;
  animation-iteration-count: infinite;
  transform-origin: 50% 50%;
  animation-play-state: paused;
}

.B1:hover{
  animation-play-state: running;
}

.black2{
  position: absolute;
  width:16%;
  transform: rotate(90deg);
  margin-top: 100px;
  margin-left: 550px;

  animation: wiggle;
  animation-duration: .5s;
  animation-iteration-count: infinite;
  transform-origin: 50% 50%;
  animation-play-state: paused;
}

.black2:hover{
  animation-play-state: running;
}

.G3{
  position: absolute;
  width:21%;
  margin-top: 540px;
  margin-left: 50px;

  animation: wiggle;
  animation-duration: .5s;
  animation-iteration-count: infinite;
  transform-origin: 50% 50%;
  animation-play-state: paused;
}

.G3:hover{
  animation-play-state: running;
}

.O3{
  position: absolute;
  width:11%;
  margin-top: 250px;
  margin-left: 170px;
  transform: rotate(-90deg);

  animation: wiggle;
  animation-duration: .5s;
  animation-iteration-count: infinite;
  transform-origin: 50% 50%;
  animation-play-state: paused;
}

.O3:hover{
  animation-play-state: running;
}

.P1{
  position: absolute;
  width:16%;
  margin-top: 500px;
  margin-left: 550px;
  transform: rotate(-10deg);

  animation: wiggle;
  animation-duration: .5s;
  animation-iteration-count: infinite;
  transform-origin: 50% 50%;
  animation-play-state: paused;
}

.P1:hover{
  animation-play-state: running;
}

.Y1{
  position: absolute;
  width:16%;
  margin-top: 500px;
  margin-left: 550px;
  transform: rotate(-90deg);

  animation: wiggle;
  animation-duration: .5s;
  animation-iteration-count: infinite;
  transform-origin: 50% 50%;
  animation-play-state: paused;
}

.Y1:hover{
  animation-play-state: running;
}

@keyframes wiggle {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(4deg);
    }
    100% {
        transform: rotate(0deg);
    }

}

@keyframes wiggle_eye {
    0% {
        transform: rotate(110deg);
    }
    50% {
        transform: rotate(114deg);
    }
    100% {
        transform: rotate(110deg);
    }

}

@keyframes wiggle_nose {
    0% {
        transform: rotate(40deg);
    }
    50% {
        transform: rotate(44deg);
    }
    100% {
        transform: rotate(40deg);
    }

}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
